* {
    margin: 0;
    padding: auto;
}

body {
    overflow:hidden;
}

.body-container {
    max-width: 800px;
    width: 100%;
}
.welcome-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    background: linear-gradient(to right, #202656, #4e73df, #7790ba, rgb(133, 132, 132), #7790ba, #4e73df, #202656);
    font-family: 'Times New Roman', Times, serif;
    background-size: 500%,500%;
    animation: gradientAnimation 20s ease infinite;
}

.welcome-title0 {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeInSimple 1s ease-in-out;
}

.welcome-title1 {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeInSimple 2s ease-in-out;
}

.welcome-title2 {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeInSimple 3s ease-in-out;
}

.welcome-title3 {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeInSimple 4s ease-in-out;
}

.welcome-title4 {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeInSimple 5s ease-in-out;
}

.welcome-title5 {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeInSimple 6s ease-in-out;
}

/* Button styling */
.start-button {
    padding: 14px 28px;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #007BFF;
    cursor: pointer;
    transition: 0.3s ease;
    animation: fadeInSimple 5s ease-in-out;
}

.start-button:hover {
    background-color: #f8f9fc;
    transform: scale(1.05);
}

@keyframes fadeInSimple {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    20% { opacity: 0.5; transform: translateY(0); }
    60% { opacity: 1;  }
    80% { opacity: 0.5;  }
    100% { opacity: 0; ; }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
