.results-container{
    max-width: 800px;
    margin: 40px auto;
    padding: 24px;
    font-family: "Times New Roman"
}

.results-title {
    font-size: 34px;
    margin: 0 0 10px 0;
    text-align: center;
}
.results-subtitle {
    text-align: center;
    color: #555555;
    line-height: 1.6;
    margin: 0 auto 24px auto;
    max-width: 800px;
}

.results-container {
    display:grid;
    

}
